APP_SUPERADMIN_PASSWORD=

GEMINI_API_KEY=

JWT_SECRET=

# Kalau pakai Docker Compose, isi dengan: postgre
# Kalau pakai PostgreSQL native, sesuaikan dengan password lokal
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

RESEND_API_KEY=

# Untuk development lokal, kosongkan(pakai Redis localhost)
# Untuk production, isi dengan kredensial Upstash
UPSTASH_REDIS_HOST=
UPSTASH_REDIS_PASSWORD=

# Secret untuk menjaga koneksi Redis tetap hidup (keep-alive)
KEEPALIVE_SECRET=